<!-- Error Modal -->
<div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="errorModalTitle">Error!</h5>
            </div>
            <div class="modal-body" id="errorModalBody">
                URLs must be in the nvidia.com domain.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>