{% extends "base.html" %}
{% block title %}NVIDIA Librarian - Home{% endblock %}
{% block styles %}
<style>
{% include 'css/index.css' %}
</style>
{% endblock %}
{% block nav_home %}active{% endblock %}
{% block htmlcontent %}

<div class="container">
    <div id="app" class="d-none">
        <p id="username">Username: [[ username ]]</p>

        <!-- Application Description -->
        <div class="row mt-4 app-desc bg-light fs-5 fw-light border rounded">
            <h3>Librarian</h3>
            <p>
                "Talk with your data" via an LLM. Give our Librarian a topic you're interested in, or ask it a specific question. You can even ask it to write you code.
            </p>
        </div>

        <!-- Input form -->
        <form @submit.prevent="submitForm">

            <div class="row my-4 border rounded">

                <div class="col-md-7 mb-0 p-4 border-end">
                    <div class="d-flex my-4 justify-content-center">
                        <div class="fs-5 ms-1 me-2 d-flex align-items-center fw-bold text-nowrap">I want to learn more about...</div>
                        <button type="button" class="btn btn-light mx-1 p-1" v-on:click="query = 'computer vision for autonomous mobile robots'">computer vision for autonomous mobile robots</button>
                        <button type="button" class="btn btn-light mx-1 p-1" v-on:click="query = 'RAG systems'">RAG systems</button>
                    </div>

                    <div class="input-group">
                        <textarea class="form-control" id="query" v-model="query" placeholder="e.g. printed circuit board workflows"></textarea>
                    </div>

                    <div v-if="query_expansion !== ''" class="fw-bold mt-4">Try one of these possibly related queries.</div>
                    <div class="ms-2" style="white-space: pre-wrap;">[[ query_expansion ]]</div>
                </div>

                <div class="col-md-5 d-flex mb-0 bg-light p-4">
                    <div class="row">
                        <div class="d-flex flex-column align-items-center my-4">    
                            <!-- switch-->
                            <div class="btn-group w-100" role="group" id="modelNameBtnGroup">
                            
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" v-model="model_name" v-bind:value="'nim_mixtral_8x7b'" @change="reset">
                                <label style="width: 33.333%;" class="btn btn-outline-primary p-1" for="btnradio0">Mixtral (Local)</label>
    
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" v-model="model_name" v-bind:value="'nvai_mixtral_8x7b'" @change="reset">
                                <label style="width: 33.333%;" class="btn btn-outline-primary p-1" for="btnradio1">Mixtral (API)</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" v-model="model_name" v-bind:value="'openai_gpt-3.5-turbo-1106'" @change="reset">
                                <label style="width: 33.333%;" class="btn btn-outline-primary p-1" for="btnradio2">ChatGPT (API)</label>

                            </div>
                        </div>

                        <div class="col-md-3 d-flex flex-column justify-content-between">
                            <div class="">
                                <label class="form-label mt-auto"># Results Per Asset Type</label>
                                <select class="form-select mt-auto" size="1" v-model="k">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <p class="fw-bold mb-1 text-center"><a class="asset-type-group-link" href="#" title="Check/Uncheck All Asset Types"
                                v-on:click="toggleAssetTypeGroup(null, $event)"
                                >Asset Types</a></p>
                            <div class="d-flex flex-column flex-wrap" id="assetTypeGroupsContainer">
                                <div v-for="atype_group in asset_type_groups" class="me-3 p-1">
                                    <p class="fw-bold mb-1"><a class="asset-type-group-link" href="#" title="Check/Uncheck These Asset Types"
                                        :class="{ warning: atype_group['group'] === 'Internal' }"
                                        v-on:click="toggleAssetTypeGroup(atype_group['group'], $event)">[[ atype_group['group'] ]]</a></p>

                                    <div class="form-check" v-for="atype in atype_group['group_members']">
                                        <input class="form-check-input" type="checkbox" value="" v-bind:id="'checkBox_' + atype['name']" v-model="atype['display']">
                                        <label class="form-check-label" v-bind:for="'checkBox_' + atype['name']">
                                            [[ atype['display_title'] ]]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary mt-auto" :disabled="!query">
                                <i aria-hidden="true" class="fas fa-search" style="margin-right: 9px;"></i> Search
                            </button>
                        </div>

                    </div>
                </div>
                
            </div>

        </form>

        <!-- Output HTML -->
        <div id="appOutput">
            <!-- Spinner -->
            <div id="loader"></div>

            <!-- IF: recs generated -->
            <div v-if="results.length > 0">

                <div class="row">
                    <!-- Copy link to these recs -->
                    <div class="col-md">
                        <div class="text-center">
                            <button class="btn-white rounded p-2" v-on:click="copyLinkToRecs">
                                <i aria-hidden="true" class="fas fa-link" style="margin-right: 9px;"></i> Copy Link
                            </button>
                            <p>Share or bookmark your search for later reference.</p>
                            <div id="linkToRecs" style="position: absolute; left: -9999px; text-align: left;"></div>
                        </div>      
                    </div>

                    <!-- Copy all rec text -->
                    <div class="col-md">
                        <div class="text-center">
                            <button class="btn-white rounded p-2" v-on:click="copyAllRecs">
                                <i aria-hidden="true" class="fas fa-copy" style="margin-right: 9px;"></i> Copy All Recs
                            </button>
                            <p>Copy all recommendations to clipboard.</p>
                            <div id="allRecs" style="position: absolute; left: -9999px; text-align: left;"></div>
                        </div>                               
                    </div>

                    <!-- Hide all rec text -->
                    <div class="col-md">
                        <div class="text-center">
                            <button class="btn-white rounded p-2" v-on:click="toggleAllAssetVisibility">
                                <i aria-hidden="true" class="fas" v-bind:class="results_visible.every((x) => x ) ? 'fa-chevron-up' : 'fa-chevron-down'" style="margin-right: 9px;"></i> 
                                [[ results_visible.every((x) => x ) ? "Collapse" : "Expand" ]] All Recs
                            </button>
                            <p>Collapse or expand all recommendations.</p>
                        </div>                               
                    </div>
                </div>
    
                
                <div class="row mt-4 bg-light border rounded p-3">
                    <h3>Response</h3>
                    <p class="fw-light">(This text was generated by an LLM.)</p>
                    <p class="mb-0" style="white-space: pre-wrap;" v-html="generation"></p>
                </div>


                <!-- Recs -->
                <div class="row mt-4">

                    <!-- Single column for now -->
                    <div class="col-12 mb-5">
                        
                        <!-- Asset loop -->
                        <div v-for="(asset, index) in results" class="mb-4">

                            <div class="mb-1">
                                <button v-on:click="copyRecs(index)" class="btn-white rounded px-2 py-1"><i aria-hidden="true" class="fas fa-copy" style="margin-right: 9px;"></i>Copy Recs</button>
                                <button v-on:click="removeAsset(index)" class="btn-white rounded px-2 py-1 me-1"><i aria-hidden="true" class="fas fa-times-circle" style="margin-right: 9px;"></i>Remove</button>
                                <button v-on:click="toggleAssetVisibility(index)" class="btn-white rounded px-2 py-1 me-1">
                                    <i aria-hidden="true" class="fas" v-bind:class="results_visible[index] ? 'fa-chevron-up' : 'fa-chevron-down'" style="margin-right: 9px;"></i>
                                    [[ results_visible[index] ? "Collapse" : "Expand" ]]
                                </button>
                            </div>

                            <div v-bind:id="'recs-container-' + index"  class="recs-container">
                                <p class="field-title"> [[ response_display_titles[index] ]] 
                                </p>

                                <div v-if="results_visible[index]">
                                    <!-- Item loop -->
                                    <div v-for="(item, item_index) in asset">
                                        <a v-bind:id="'result_title_' + (index*k + item_index + 1)" v-bind:href="[[ item.document_url ]]" target="_blank">[<span>[[ index*k + item_index + 1 ]]</span>] [[ item.document_title ]]</a>
                                        <div class="mb-2">
                                            <div v-html="item.text"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Clipboard copy success alert -->
        <div id="copyAlert" class="alert alert-success fw-bold">Copied to clipboard!</div>
        <div id="submitAlert" class="alert alert-primary fw-bold">Submitted!</div>

        {% include 'user_modal.html' %}

    </div>
</div>

{% endblock %}
{% block jscontent %}
<script>
{% include 'js/app.js' %}
</script>
{% endblock %}
